html, body {
  height: 100%;
}

.characters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  padding: 0;
}

li {
  list-style-type: none;
}

#checkbox_yoda, #checkbox_trooper, #checkbox_vader {
  display: none;
}

.characters input[type = "checkbox"] + label {
  display: inline-block;
  height: 244px;
  width: 244px;
  margin: 0 4px 0 0;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
}

#checkbox_yoda + label {
  background: center url("/images/yoda.png");
}

#checkbox_trooper + label {
  background: center url("/images/trooper.png");
}

#checkbox_vader + label {
  background: center url("/images/vader.png");
}

label {
  text-indent: 100%;
  overflow: hidden;
}

.characters input[type = "checkbox"]:checked + label {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
