html, body {
  height: 100%;
}

.characters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0 2px;
}

#checkbox_yoda, #checkbox_trooper, #checkbox_vader {
  display: none;
}

#checkbox_yoda + label {
  background: url("/images/yoda.png") no-repeat;
}

#checkbox_trooper + label {
  background: url("/images/trooper.png") no-repeat;
}

#checkbox_vader + label {
  background: url("/images/vader.png") no-repeat;
}

.characters input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  height: 244px;
  width: 244px;
  border: 3px solid white;
  text-indent: 100%;
  overflow: hidden;
  cursor: pointer;
}

.characters input[type="checkbox"]:checked + label {
  border-color: black;
  border-radius: 20px;
}

.characters input[type="checkbox"] + label:hover:after {
  position: absolute;
  bottom: 0;
  width: 244px;
  border-radius: 0 0 17px 17px;
  background-color: rgba(0,0,0,0.8);
  padding: 12px 0 10px 0;
  content: attr(data-sentence);
  color: white;
  text-align: center;
  text-indent: 0;
  font-size: 20px;
}

button {
  display: block;
  position: relative;
  height: 70px;
  width: 355px;
  margin: 0 auto;
  border: 0;
  border-right: 40px solid white;
  background-color: black;
  color: #fee33d;
  font-size: 29px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
}

button:hover {
  color: black;
  background-color: #fee33d;
}

/* Button arrow */
button:after {
  content: "";
  position: absolute;
  right: -40px;
  border-style: solid;
  border-width: 35px 0 34px 40px;
  border-color: transparent black;
}

button:hover:after {
  border-color: transparent #fee33d;
}
